@use '../base/variables' as *;
@use '../base/mixins' as mixin;

// Le style qui compose la hero section
.hero {
    margin-top: 87.5px;

    @media (max-width: 768px) {
        margin-top: 64px;
    }

    @media (max-width: 480px) {
        margin-top: 32px;
    }

    &Title {
        font-size: clamp(2rem, 10vw, $font-size-lg);
        text-align: center;
        word-break: break-word;
        width: clamp(300px, 50vw, 690px);
        line-height: clamp(2rem, 10vw, 126px);
        font-weight: $font-weight-bold;
        letter-spacing: $spacing-small;
        text-transform: uppercase;
        background: $text-title;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 1920px) {
            font-size: 230px;
            line-height: 240px;
            width: 80%;
        }

        @media (max-width: 768px) {
            letter-spacing: normal;
            width: clamp(200px, 80vw, 600px);
        }


    }

    &Content {
        gap: 39.6px;
        width: clamp(320px, 50vw, 420px);

        @media (min-width: 1920px) {
            width: 800px;
            gap: 64px;
        }

        &Text {
            color: rgba(255, 255, 255, 0.80);
            text-align: center;
            font-weight: $font-weight-regular;
            font-size: clamp(14px, 5vw, $font-size-xl);
            line-height: clamp(18px, 6vw, 24px);

            @media (min-width: 1920px) {
                font-size: $font-size-large;
                line-height: normal;
            }
        }

        &Buttons {
            gap: 25px;

            .button-primary {
                @include mixin.button($type: "filled",
                    $background: $button-primary,
                    $width: 194px,
                    $height: 54px,
                    $font-size: $font-size-sm,
                    $font-weight: $font-weight-bold,
                    $text-transform: none,
                    $letter-spacing: 0.1px,
                    $outline: none,
                    $line-height: normal);

                @media (min-width: 1920px) {
                    font-size: $font-size-large;
                    letter-spacing: normal;
                    width: fit-content;
                    height: fit-content;
                    line-height: normal;
                    padding: 24px 42px;
                }

                @media (max-width: 1024px) {
                    padding: 12px 16px;
                    height: 48px;
                }

                @media (max-width: 768px) {
                    padding: 0;
                }

            }

            .button-secondary {
                @include mixin.button($type: "outline",
                    $background: transparent,
                    $width: 192px,
                    $height: min-content,
                    $font-size: $font-size-sm,
                    $font-weight: $font-weight-bold,
                    $text-transform: none,
                    $letter-spacing: normal,
                    $outline: 1px solid #ffffff,
                    $line-height: 10px,
                    $padding: 14px 19px,
                    $gap: 12.5px);

                @media (min-width: 1920px) {
                    font-size: $font-size-large;
                    letter-spacing: normal;
                    width: fit-content;
                    height: fit-content;
                    line-height: normal;
                    padding: 24px 42px;
                }

                @media (max-width: 1024px) {
                    justify-content: space-around;
                    padding: 12px 0;
                    gap: 0;
                    height: 48px;
                }
            }

            .button-secondary::before {
                content: url('../assets/images/ic_play.svg');
                position: relative;

                @media (min-width: 1920px) {
                    transform: scale(1.5);
                }
            }

            .button-secondary:hover::before {
                filter: invert(1);
            }
        }

        .square {
            @include mixin.rectangle($position: absolute,
                $top: 13.5px,
                $width: 1124px,
                $height: 800px,
                $bgColor: rgba(0, 0, 0, 0.20),
                $zIndex: -1);

            @media (min-width: 1920px) {
                width: 1800px;
            }
        }
    }

    .circuit1 {
        position: absolute;
        left: 0;
        top: 241px;
        z-index: -2;
    }

    .circuit2 {
        position: absolute;
        right: 0;
        top: 355px;
        z-index: -2;
    }

}