@use '../base/variables' as *;
@use '../base/mixins' as mixin;

// Le style qui compose la section testimonial
.testimonial {
    padding: 364px 130px 82px 253px;

    @media (min-width: 1600px) {
        padding: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 320px) and (max-width: 1439px) {
        padding: 32px 16px;
    }

    .circuit1 {
        position: absolute;
        top: 150.5px;
        left: -51px;

        @media (min-width: 320px) and (max-width: 1439px) {
            display: none;
        }
    }

    .circuit2 {
        position: absolute;
        top: 150.5px;
        right: 10px;

        @media (min-width: 320px) and (max-width: 1439px) {
            display: none;
        }
    }

    &Content {
        gap: 16px;

        &Title {
            font-size: $font-size-xxxl;
            font-style: normal;
            font-weight: $font-weight-medium;
            line-height: 61.6px;
            letter-spacing: -2.8px;
            text-transform: uppercase;
            background: radial-gradient(76.8% 77.27% at 47.05% 50%, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media (min-width: 1600px) {
                width: 1500px;
            }
        }

        &Subtitle {
            color: rgba(255, 255, 255, 0.80);
            font-size: $font-size-xl;
            font-style: normal;
            font-weight: $font-weight-medium;
            line-height: 24px;
            letter-spacing: -0.18px;

            @media (min-width: 1600px) {
                font-size: $font-size-subtitle;
            }
        }
    }

    .testimonialCards {
        width: 1057px;

        @media (min-width: 1600px) {
            width: 1500px;
        }

        @media (min-width: 320px) and (max-width: 1439px) {
            width: 100%;
        }

        .card {
            margin-top: 86px;
            width: 1057px;

            @media (min-width: 1600px) {
                width: 1500px;
            }

            @media (min-width: 320px) and (max-width: 1439px) {
                width: 100%;
                margin-top: 32px;
                flex-direction: column;
            }

            .quote {
                height: fit-content;
                margin-top: 52px;

                @media (min-width: 320px) and (max-width: 1439px) {
                    display: none;
                }
            }

            .stars {
                width: 132px;

                @media (min-width: 320px) and (max-width: 1439px) {
                    width: 100px;
                }
            }

            &Text {
                color: $text-primary;
                font-size: $font-size-xxl;
                font-style: normal;
                font-weight: $font-weight-regular;
                line-height: 52px;
                letter-spacing: -0.8px;

                @media (min-width: 320px) and (max-width: 1439px) {
                    font-size: $font-size-sm;
                    line-height: normal;
                }
            }

            &Footer {
                margin-top: 27px;

                .cardAuthor {

                    .avatar {
                        width: 56px;
                        height: 56px;
                        border-radius: 56px;
                        background: #A6D4C7;

                        @media (min-width: 320px) and (max-width: 1439px) {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &Name {
                        color: $text-primary;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        letter-spacing: -0.18px;

                        @media (min-width: 1600px) {
                            font-size: $font-size-subtitle;
                        }

                        @media (min-width: 320px) and (max-width: 1439px) {
                            font-size: $font-size-sm;
                        }
                    }

                    &Status {
                        color: $text-primary;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.16px;

                        @media (min-width: 1600px) {
                            font-size: $font-size-subtitle;
                        }

                        @media (min-width: 320px) and (max-width: 1439px) {
                            font-size: 14px;
                        }

                    }
                }
            }

        }
    }

    &Pagination {
        position: absolute;
        gap: 67px;
        width: 216px;
        bottom: 62px;

        @media (min-width: 1600px) {
            width: fit-content;
        }

        @media (min-width: 320px) and (max-width: 767px) {
            position: initial;
            width: 100%;
            justify-content: center;
        }

        &Numbers {
            color: $text-primary;
            font-size: $font-size-subtitle;
            font-weight: $font-weight-medium;
            line-height: 34px;
            letter-spacing: -0.48px;

            @media (min-width: 1600px) {
                font-size: $font-size-large;
            }
        }

        &Buttons {
            height: 34px;
            gap: 42px;

            @media (min-width: 1600px) {
                height: fit-content;
            }
        }

        .button-previous {
            transform: scaleX(-1);

            @media (min-width: 1600px) {
                height: 32px;
                width: 32px;
            }
        }

        .button-next {
            @media (min-width: 1600px) {
                height: 32px;
                width: 32px;
            }
        }
    }
}