// Mixin pour les boutons
@mixin button($type,
    $background,
    $width,
    $height,
    $font-size,
    $font-weight,
    $text-transform,
    $letter-spacing,
    $outline: none,
    $line-height: normal,
    $padding: inherit,
    $gap: initial,
    $text-color: white) {
    width: $width;
    height: $height;
    font-size: $font-size;
    font-weight: $font-weight;
    text-transform: $text-transform;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    padding: $padding;
    gap: $gap;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
    outline: $outline;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        transform 0.2s ease,
        color 0.3s ease;

    // Gestion des types
    @if $type =="filled" {
        background-color: $background;
        color: $text-color;

        &:hover {
            background-color: darken($background, 10%);
            color: lighten($text-color, 20%);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 8px lighten($background, 40%);
        }

        &:active {
            background-color: darken($background, 40%);
        }
    }

    @else if $type =="outline" {
        background-color: transparent;
        color: $text-color;

        &:hover {
            background-color: $text-color;
            color: darken($text-color, 100%);
        }

        &:focus {
            box-shadow: 0 0 10px $text-color;
        }

        &:active {
            outline-color: darken($text-color, 10%);
            color: darken($text-color, 100%);
        }
    }
}

// Mixin pour les rectangles
@mixin rectangle($position,
    $top: auto,
    $bottom: auto,
    $left: auto,
    $transform: none,
    $width,
    $height,
    $bgImage: null,
    $bgSize: 100%,
    $bgRepeat: no-repeat,
    $zIndex: auto,
    $borderRadius: 0,
    $backdropFilter: none,
    $bgColor: transparent) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    transform: $transform;
    // width: $width;
    width: clamp(282px, 78vw, $width);
    height: $height;
    z-index: $zIndex;
    border-radius: $borderRadius;
    backdrop-filter: $backdropFilter;
    background: $bgColor;

    @if $bgImage {
        background-image: $bgImage;
        background-size: $bgSize;
        background-repeat: $bgRepeat;
    }
}

// Mixin pour les inputs
@mixin input($width,
    $height,
    $font-size,
    $font-weight,
    $letter-spacing,
    $outline: none,
    $line-height: normal,
    $padding: inherit,
    $bgColor,
    $boxShadow: none) {
    width: $width;
    height: $height;
    border-radius: 100px;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    outline: $outline;
    line-height: $line-height;
    padding: $padding;
    background-color: $bgColor;
    box-shadow: $boxShadow;
}