// couleurs background
$bg-primary: #0F1012;
$bg-secondary: #191C22;
$bg-tertiary: #111215;

// couleurs boutons
$button-primary: #FF6B6B;

// couleurs texte
$font-family-primary: 'Inter', sans-serif;
$text-primary: #FFFFFF;
$text-placeholder: #88898E;
$text-pink: #FF6BD6;
$text-title: radial-gradient(52.95% 52.95% at 47.05% 50%, #FFF 0%, rgba(255, 255, 255, 0.55) 100%);

// taille de police
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-xl: 18px;
$font-size-small: 20px;
$font-size-title: 20px;
$font-size-subtitle: 24px;
$font-size-md: 26.9px;
$font-size-heading: 32.45px;
$font-size-large: 32px;
$font-size-xxxl: 40px;
$font-size-xxl: 56px;
$font-size-lg: 140px;


// graisse de texte
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


// Espacement
$spacing-extra-small: -0.24px;
$spacing-small-md: -0.58px;
$spacing-small: -6.9px;