@use './base/variables' as *;
@use './components/_header';
@use './components/_hero';
@use './components/_brands';
@use './components/_squares';
@use './components/_domain';
@use './components/_testimonial';
@use './components/_footer';
@use './components/_error404';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: $bg-primary;
    color: $text-primary;
    font-family: $font-family-primary;

    // Test pour le pixel perfect
    background-image: url('../assets/images/bg-test6.svg');
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    // Test pour le pixel perfect

    @media (max-width: 1439px) {
        background-color: $bg-primary;
        background-image: none;
    }

    @media (min-width: 1920px) {
        background-color: $bg-primary;
        background-image: none;
    }
}